#certificates{
padding:80px 10%;
text-align:center;

/* same background as projects */
/* background:linear-gradient(135deg,#020111,#0f0c29,#1a1445);
color:white; */
}

.certTitle{
font-size:2.5rem;
margin-bottom:50px;
color:#d8b4fe;
}

.certContainer{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:30px;
}

.certCard{
background:rgba(20,20,40,0.6);
padding:25px;
border-radius:20px;
border:1px solid rgba(255,255,255,0.08);
backdrop-filter:blur(12px);
transition:0.3s;
}

.certCard:hover{
transform:translateY(-8px);
box-shadow:0 10px 30px rgba(168,85,247,0.5);
}

.certCard h3{
color:#f9a8d4;
margin-bottom:10px;
}

.certCard p{
color:#ccc;
margin-bottom:20px;
}

.certCard button{
padding:8px 18px;
border:none;
border-radius:20px;
background:#ff4ecb;
color:white;
cursor:pointer;
}

.certCard button:hover{
background:#a855f7;
}